@model ETicaretWEBUI.Core.ViewModel.UserViewModel

@{
    ViewBag.Title = "Anasayfa";
    Layout = "_Layout";
}

<h2>Sayın @Model.FullName,@Model.UserId , @Model.Email Sisteme Hoş geldiniz</h2>
<h4>Adresiniz : @Model.Address</h4>
